<div [formGroup]="parentForm">
  <h3>{{data.title}}</h3>

  <label *ngIf="data.controlType == 'text'" [attr.for]="data.key">{{data.label}}</label>
  <input *ngIf="data.controlType == 'text'" [type]="data.type">

  <!--Single Radio button view-->
  <div *ngIf="data.controlType == 'radio'">
    <ng-container *ngFor="let opt of data.options">
      <label>
        <input style="margin-left: 5px;" (change)="handleChange($event)" type="radio" [name]="data.key" [value]="data.options['0'].value"
          [id]="data.quizId"> {{opt.key}}
      </label>
    </ng-container>
  </div>

  <!--Extended field view-->
  <div *ngIf="data.extendedFields && data.extendedFields.type">
    <div *ngIf="data.extendedFields.type == 'text' && showExtraField">
      <ng-container>
        <label [attr.for]="data.key">{{data.extendedFields.text}}</label>
        <input *ngIf="data?.extendedFields.type == 'text'" [formControlName]="data.key">
      </ng-container>
    </div>
  </div>
